@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "RoleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
    <h1>Roles</h1>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $('#products').DataTable({
            });

        });
    </script>
}
@Html.AntiForgeryToken()
<p>
    @Html.ActionLink("Create New", "CreateUpdateRole", "Role", null, new { @class = "btn btn-primary btn-sm" })

</p>
<table id="products" class="table">
    <thead>
        <tr>
            <th>
                Role Name
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(a => a.Name))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>