<ul class="nav navbar-nav">

    @*<li>@Html.ActionLink("Home", "DisplayModule", "UserHome")</li>*@

    @*<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Admin Master Data <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Product Master", "ProductList", "Product")</li>
                <li>@Html.ActionLink("Module Master", "ModuleList", "Module")</li>
                <li>@Html.ActionLink("Create / Select Customer", "CustomerList", "Customer")</li>
            </ul>
        </li>*@
    <li><a href="#">Sale</a></li>
    <li>@Html.ActionLink("Customers", "CustomerList", "Customer")</li>
    <li>@Html.ActionLink("Receipts", "ReceiptsList", "Receipt")</li>
    <li><a href="#">Users</a></li>
    @*<ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    Settings <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Product Master", "ProductList", "Product")</li>
                    <li>@Html.ActionLink("Module Master", "ModuleList", "Module")</li>
                    <li>@Html.ActionLink("Create / Select Customer", "CustomerList", "Customer")</li>
                </ul>
            </li>
        </ul>*@

</ul>